.container
  .row.mt-5.mb-5
    .col-sm-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
      .card
        .card-body
          %h2.card-title
            Hello, #{session[:username]}
            %a.btn.btn-default.float-right{href: '/app/sign_out'} Sign out
          
          %hr

          -# avg_wpm: #{avg_wpm}
          -# %br
          -# avg_typos: #{avg_typos}
          -# %br
          -# avg_accuracy: #{avg_accuracy}
          -# %br
          -# total_typos: #{total_typos}
          -# %br
          -# total_subimssions: #{total_subimssions}

          - top_five.each.with_index(1) do |(username, wpm), i|
            %h5
              \##{i}:
              %span.badge.badge-success #{wpm} wpm
              = username
          %hr

          .accordion#lessons
            - lessons.each_with_index do |lesson, i|
              .card.mt-2.mb-2{id: lesson[:tag]}
                .card-header.pt-4{class: "#{lesson[:bg_class]}"}
                  .row
                    .col-sm-6.col-md-5
                      %h4= lesson[:title]

                    .col-sm-4.col-md-5
                      %i.fas.fa-check.ml-2.mr-2.h4{class: (lesson[:complete] ? :complete : :incomplete)}
                      %i.fas.fa-bullseye.ml-2.mr-2.h4{class: (lesson[:accurate] ? :complete : :incomplete)}
                      %i.fas.fa-bolt.ml-2.mr-2.h4{class: (lesson[:fast] ? :complete : :incomplete)}

                    .col-2.text-right
                      - unless lesson[:disabled]
                        %i.fas.h4.fa-bars.pointer{'data-toggle': :collapse, 'data-target': "##{lesson[:exercises_tag]}", 'aria-expanded': true, 'aria-controls': "Lesson #{i} exercises"}

                .card-body.collapse{class: (:show if lesson[:next]), id: lesson[:exercises_tag], 'aria-lebelledby': lesson[:tag], 'data-parent': '#lessons'}
                  .row
                    - lesson[:exercises].each_with_index do |exercise, j|
                      .col-sm-6.col-md-4.col-lg-3
                        %a.btn.btn-block.mb-4{href: "/app/lessons/#{lesson[:id]}/exercises/#{exercise[:id]}", class: "#{exercise[:btn_class]} #{:disabled if exercise[:disabled]}"}
                          %h5.text-center Exercise #{j+1}
                          %i.fas.fa-check.ml-2.mr-2{class: (exercise[:complete] ? :complete : :incomplete)}
                          %i.fas.fa-bullseye.ml-2.mr-2{class: (exercise[:accurate] ? :complete : :incomplete)}
                          %i.fas.fa-bolt.ml-2.mr-2{class: (exercise[:fast] ? :complete : :incomplete)}