.container
  .card.mt-5.text-center
    .card-header.bg-light
      %h2.card-title Home row # 1
    .card-body
      .row
        .col
          %h2= wrong
          %h4 typos
        .col
          %h2 #{accuracy}%
          %h4 accuracy
        .col
          %h2= wpm
          %h4 wpm
    .card-footer.bg-light
      .row
        .col
        #restart.col
          %a.btn.btn-warning{href: "/app/lessons/#{lesson.id}/exercises/#{exercise.id}"}
            %i.fas.fa-redo
            restart
        #home.col
          %a.btn.btn-secondary{href: '/app/home'}
            %i.fas.fa-home
            home
        #next.col
          %a.btn.btn-success{href: next_path}
            %i.fas.fa-arrow-right
            next
        .col