- content_for :head do
  :css
    #summary {
      height: 240px;
    }

- content_for :foot do
  :javascript
    $(function() {
      $('#complete').hide().removeClass('d-none')
      $('#accurate').hide().removeClass('d-none')
      $('#fast').hide().removeClass('d-none')

      $('#complete').fadeIn(900, () =>
        $('#accurate').fadeIn(900, () =>
          $('#fast').fadeIn(900)));
    });

.container
  .card.mt-5.text-center
    .card-header.bg-light
      %h2.card-title Exercise #{exercise.position + 1} of #{lesson.exercises.size}
    .card-body.pt-3#summary
      .row.mb-4
        .col
        .col
          %sm #{wrong} typos
        .col
          %sm #{wpm} wpm
        .col

      .row
        .col
          #complete.d-none
            %i.d-block.display-3.fas.fa-check{class: (complete ? :complete : :incomplete)}
        .col
          #accurate.d-none
            %i.d-block.display-3.fas.fa-bullseye{class: (accurate ? :complete : :incomplete)}
        .col
          #fast.d-none
            %i.d-block.display-3.fas.fa-bolt{class: (fast ? :complete : :incomplete)}

      %h4.pb-0.mt-5
        - if wrong > max_typos
          - if max_typos.zero?
            You made a mistake! You can't have any typos on this exercise.
          - else
            Too many typos! You need fewer than #{max_typos + 1} typos.
        - elsif wpm < min_wpm
          You need to type at least #{min_wpm} words per minute.
        - elsif wrong > 0
          Ok, you passed. But can you finish with no typos?
        - elsif wpm < fast_wpm
          Ok, you passed. But can you get to #{fast_wpm} words per minute?
        - else
          You beat this level!

    .card-footer.bg-light
      .row
        .col
        #restart.col
          %a.btn.btn-warning{href: "/app/lessons/#{lesson.id}/exercises/#{exercise.id}"}
            %i.fas.fa-redo
            restart
        #home.col
          %a.btn.btn-link{href: '/app/home'}
            %i.fas.fa-home
            home
        #next.col
          %a.btn{href: next_path, class: (complete ? 'btn-primary' : 'disabled btn-dark')}
            %i.fas.fa-arrow-right
            next
        .col