.container
  .card.mt-5.text-center
    .card-header.bg-light
      %h2.card-title Exercise #{exercise.position + 1} of lesson #{lesson.position + 1}
    .card-body.pt-5
      .row
        .col
          %i.d-block.display-3.fas.fa-check{class: (complete ? :complete : :incomplete)}
          %h2.mt-4.grey #{wrong} typos
        .col
          %i.d-block.display-3.fas.fa-bullseye{class: (accurate ? :complete : :incomplete)}
          %h2.mt-4.grey #{accuracy}% accuracy
        .col
          %i.d-block.display-3.fas.fa-bolt{class: (fast ? :complete : :incomplete)}
          %h2.mt-4.grey #{wpm} wpm
    .card-footer.bg-light
      .row
        .col
        #restart.col
          %a.btn.btn-warning{href: "/app/lessons/#{lesson.id}/exercises/#{exercise.id}"}
            %i.fas.fa-redo
            restart
        #home.col
          %a.btn.btn-link{href: '/app/home'}
            %i.fas.fa-home
            home
        #next.col
          %a.btn{href: next_path, class: (complete ? 'btn-primary' : 'disabled btn-dark')}
            %i.fas.fa-arrow-right
            next
        .col