.container
  .row.mt-5.mb-5
    .col-sm-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
      .card
        .card-body
          %h2.card-title
            Hello, #{session[:username]}
            %a.btn.btn-default.float-right{href: '/app/sign_out'} Sign out
          
          %ul.nav.nav-tabs#s.mb-4{role: :tablist}
            %li.nav-item
              %a.nav-link.active#recordWpmTab{data: {toggle: :tab}, href: '#recordWpm', role: :tab, aria: {controls: 'recordWpm', selected: true}} Record WPM
            %li.nav-item
              %a.nav-link#farthestTab{data: {toggle: :tab}, href: '#farthest', role: :tab, aria: {controls: 'farthest', selected: false}} Farthest
            %li.nav-item
              %a.nav-link#Tip{data: {toggle: :tab}, href: '#tip', role: :tab, aria: {controls: 'tip', selected: false}} Tip

          .tab-content#sContent
            .tab-pane.fade.show.active#recordWpm{role: :tabpanel, aria: {labelledby: '#recordWpmTab'}}
              - fastest.each.with_index(1) do |(username, wpm), i|
                %h5
                  \##{i}:
                  %span.badge.badge-success #{wpm} wpm
                  = username

            .tab-pane.fade#farthest{role: :tabpanel, aria: {labelledby: '#farthestTab'}}
              - farthest.each.with_index(1) do |(username, lesson, exercise), i|
                %h5
                  \##{i}:
                  %span.badge.badge-success lesson #{lesson + 1}, exercise #{exercise + 1}
                  = username

            .tab-pane.fade#tip{role: :tabpanel, aria: {labelledby: '#tipTab'}}
              %h5= tip[0]
              %p= tip[1]
              
          -# avg_wpm: #{avg_wpm}
          -# %br
          -# avg_typos: #{avg_typos}
          -# %br
          -# avg_accuracy: #{avg_accuracy}
          -# %br
          -# total_typos: #{total_typos}
          -# %br
          -# total_subimssions: #{total_subimssions}

          %hr

          .accordion#lessons
            - lessons.each do |lesson|
              .card.mt-2.mb-2{id: lesson[:tag]}
                .card-header.pt-4{class: "#{lesson[:bg_class]}"}
                  .row
                    .col-sm-6.col-md-5
                      %h5 #{lesson[:position] + 1}. #{lesson[:title]}

                    .col-sm-4.col-md-5
                      %i.fas.fa-check.ml-2.mr-2.h4{class: (lesson[:complete] ? :complete : :incomplete)}
                      %i.fas.fa-bullseye.ml-2.mr-2.h4{class: (lesson[:accurate] ? :complete : :incomplete)}
                      %i.fas.fa-bolt.ml-2.mr-2.h4{class: (lesson[:fast] ? :complete : :incomplete)}

                    .col-2.text-right
                      - unless lesson[:disabled]
                        %i.fas.h4.fa-bars.pointer{'data-toggle': :collapse, 'data-target': "##{lesson[:exercises_tag]}", 'aria-expanded': true, 'aria-controls': "Lesson #{lesson[:position] + 1} exercises"}

                .card-body.collapse{class: (:show if lesson[:next]), id: lesson[:exercises_tag], 'aria-lebelledby': lesson[:tag], 'data-parent': '#lessons'}
                  .row
                    - lesson[:exercises].each do |exercise|
                      .col-sm-6.col-md-4.col-lg-3
                        %a.btn.btn-block.mb-4{href: "/app/lessons/#{lesson[:id]}/exercises/#{exercise[:id]}", class: "#{exercise[:btn_class]} #{:disabled if exercise[:disabled]}"}
                          %h6 #{exercise[:position] + 1}. #{exercise[:title]}
                          %i.fas.fa-check.ml-2.mr-2{class: (exercise[:complete] ? :complete : :incomplete)}
                          %i.fas.fa-bullseye.ml-2.mr-2{class: (exercise[:accurate] ? :complete : :incomplete)}
                          %i.fas.fa-bolt.ml-2.mr-2{class: (exercise[:fast] ? :complete : :incomplete)}